<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.ae.testSuite.TestUserSignUp"/>      
      <class name="com.ae.testSuite.TestPlaceSingleOrder"/>
      <class name="com.ae.testSuite.TestPlaceMultipleOrder"/>
      <class name="com.ae.testSuite.TestFilterAndVerify"/>
      <class name="com.ae.testSuite.TestReviewProduct"/>
      <class name="com.ae.testSuite.TestAPIValidations"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
